* {
    font-family: 'Do Hyeon', sans-serif;
    color: #000000;
}

h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

figure {
    background-color: #595959;
    width: 30%;
    height: 35%
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 20%);
}

.group {}