* {
    font-family: 'Do Hyeon', sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
}

header {
    background-color: #ffffff;
}

nav {
    height: 44px;
    /* nav글자 높이 */
    /* 수평배열 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* nav글자 중앙정렬 */
}

nav i {
    font-size: 1.8rem;
    /* 밥 아이콘 크게 하기 : 아이콘 1.25배 */
}

.nav-logo>div {
    float: left;
    color: #FFE144;
    font-size: 1.85rem;
}

nav a {
    color: #595959;
}

.nav-toggle {
    /* toggle버튼이 보이지 않도록  */
    display: none;
    /* visibility: hidden; */
}

.nav-toggle i {
    color: #595959;
}

.nav-list {
    /* 수평배열 */
    display: flex;
    column-gap: 3rem;
    /* 12px = nav글자사이의 거리 */
}

.nav-link {
    display: block;
    /* a 태그가 한 줄 전체를 차지해서 링크가 동작하도록... */
}

.nav-link {
    color: #fff;
}


/* .button > :nth-child(4){
    border: solid #ffffff;
    background-color: #461f1f96;
    color: #ffffff;
} */

main {
    /* .calendar과 menu가 옆으로 붙게 됨(옆으로 붙으면서 정렬됨)  */
    display: flex;
    column-gap: 10px;
    /* 화면 창을 줄이면 아래로 내려 감(옆으로 붙으면서 정렬된 것이 아래로 내려감 1단, 2단 */
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #FFEE54;
    width: 50%;
}

ul {
    list-style: none;
}

.id {
    font-size: 18.7px;
    line-height: 1.5em;
}

.mean {
    font-size: 16.5px;
    line-height: 1.83em;
}