<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='game.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='games.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>삐삐는 아이디</title>
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav-toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
            <a href="/" class="nav-logo">
                <div>🐣 삐삐는 아이디 🐣</div>
            </a>
            <div class="nav-menu">
                <ul class="nav-list" id="nav-list">
                    <li class="nav-item">
                        <a href="/login" class="myButton">login</a></li>
                    <li class="nav-item">
                        <a href="/mypage" class="myButton">mypage</a></li>
                    <li class="nav-item">
                        <a href="/choi" class="myButton">랜덤 아이디 생성</a></li>
                    <li class="nav-item">
                        <a href="/idmean" class="myButton">의미확인</a>
                        <li class="nav-item">
                            <a href="/makeid" class="myButton">아이디 만들기</a></li>
                        <li class="nav-item">
                            <a href="/game" class="myButton">game</a></li>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <h1 style="color: #4A4A4A;">삐삐 번호를 훔쳐간 삐삐 도둑을 잡아라 !! </h1>
    <div class="quiz">
        <h2 style="color: #4A4A4A;">도둑 맞은 삐삐 번호는 바로 {{makeId}} 이닷!! </h2>
        <h2 style="color: #4A4A4A;">도둑 맞은 삐삐 번호를 지금부터 찾아내자!!</h2>
    </div>

    <header>
        <h1 class="title">{{makeId}}-{{id_mean}}<br> 을(를) 훔친 삐삐를 잡아라 !! </h1>
    </header>
    <div class="main">
        <div id="ending" class="ending">
            <p id="ending-box"></p>
            <p id="ending-box"></p>현재 나의 돈은 {{money}}원 입니다.
            <p id="ending-box"></p>

            <form action="http://127.0.0.1:5000/mypage" method="POST">
                <label for="name">
                    상품
                </label>
                <select name="cute" id="cute">
                    <option value="쿠로미">opt. 쿠로미</option>
                    <option value="마이멜로드">opt. 마이멜로드</option>
                    <option value="포차코">opt. 포차코</option>
                    <option value="시나모롤">opt. 시나모롤</option>
                    <option value="배드바츠마루">opt. 배드바츠마루</option>
                    <option value="리틀트윈스타">opt. 리틀트윈스타</option>
                    <option value="턱시도샘">opt. 턱시도샘</option>
                    <option value="케로케로케로피">opt. 케로케로케로피</option>
                </select>
                <input type="submit" name="sub" value="구매하기">
            </form>
        </div>
        <div id="ending-bg" class="ending-bg">
        </div>
        <ul class="whack-a-mole clearfix">
            <li class="mole">
                <img id="1" src="../static/images/char.png">
            </li>
            <li class="mole">
                <img id="2" src="../static/images/char.png">
            </li>
            <li class="mole">
                <img id="3" src="../static/images/char.png">
            </li>
            <li class="mole">
                <img id="4" src="../static/images/char.png">
            </li>
            <li class="mole">
                <img id="5" src="../static/images/char.png">
            </li>
            <li class="mole">
                <img id="6" src="../static/images/char.png">
            </li>
            <li class="mole">
                <img id="7" src="../static/images/char.png">
            </li>
            <li class="mole">
                <img id="8" src="../static/images/char.png">
            </li>
            <li class="mole">
                <img id="9" src="../static/images/char.png">
            </li>
        </ul>
        <div class="point-box clearfix">
            <div class="point-wrap">
                <p id="point-text">Point :</p>
                <p id="count-mole">0</p>
                <p id="count-mole2">/10</p>
            </div>
            <div class="btn-wrap">
                <button type="button" class="start-btn">PRESS START</button>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='games.js') }}"></script>

</html>