<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>삐삐는 아이디</title>
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav-toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
            <a href="/index" class="nav-logo">
                <div>🐣 삐삐는 아이디 🐣</div>
            </a>
            <div class="nav-menu">
                <ul class="nav-list" id="nav-list">
                    <li class="nav-item">
                        <a href="/logout" class="myButton">logout</a></li>
                    <li class="nav-item">
                        <a href="/mypage" class="myButton">mypage</a></li>
                    <li class="nav-item">
                        <a href="/choi" class="myButton">랜덤 아이디 생성</a></li>
                    <li class="nav-item">
                        <a href="/idmean" class="myButton">의미확인</a>
                        <li class="nav-item">
                            <a href="/makeid" class="myButton">아이디 만들기</a></li>
                        <li class="nav-item">
                            <a href="/game" class="myButton">game</a></li>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {%with messages = get_flashed_messages()%} {%if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}");
    </script>
    {%endif%} {%endwith%}
    <div class="maintext">
        <h1>🐣 삐삐는 아이디 🐣</h1>
        <h2>나만의 의미있는 ID를 만들어주는 파이썬 프로그램</h2>
    </div>
    <div class="ulcenter">
        <div>효과</div>
        <ul>
            <li>✔️ 의미있는 아이디 생성 후 겹치는 아이디 비율이 줄어듦</li>
            <li>✔️ SNS상 자신을 나타내는 아이디를 통해서 내가 말하고자 하는 의미를 보여줌</li>
            <li>✔️ 나의 이름이 아닌 아이디로 자신을 표현하여 나만의 부캐를 생성할 수 있다.</li>
        </ul>
    </div>
    <div class="character"></div>
</body>

</html>