<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='makeid.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>삐삐는 아이디</title>
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav-toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
            <a href="/" class="nav-logo">
                <div>🐣 삐삐는 아이디 🐣</div>
            </a>
            <div class="nav-menu">
                <ul class="nav-list" id="nav-list">
                    <li class="nav-item">
                        <a href="/login" class="myButton">login</a></li>
                    <li class="nav-item">
                        <a href="/mypage" class="myButton">mypage</a></li>
                    <li class="nav-item">
                        <a href="/choi" class="myButton">랜덤 아이디 생성</a></li>
                    <li class="nav-item">
                        <a href="/idmean" class="myButton">의미확인</a>
                        <li class="nav-item">
                            <a href="/makeid" class="myButton">아이디 만들기</a></li>
                        <li class="nav-item">
                            <a href="/game" class="myButton">game</a></li>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="body" style="height: 28rem;">
        <h1>🐣 랜덤 아이디 생성 🐣</h1>
        <form action="http://127.0.0.1:5000/makeidres" method="post">
            <div class="selc">
                <input type="text" placeholder="영문 및 한글 이름 입력" id="id" name="name[]">
            </div>
            <div class="selc">
                <input type="text" placeholder="비밀번호 입력하기" id="id" name="pw[]">
            </div>
            <div class="selc">
                <input type="text" placeholder="비밀번호 의미 입력하기" id="id" name="mean[]">
            </div>
    </div>
    <div class="button">
        <button type="submit" id="randIdres">아이디 만들기</button>
    </div>
    </form>
    </div>
</body>

</html>