<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='mypage.css') }}" rel="stylesheet">
    <title>삐삐는 아이디</title>
</head>

<body>
    <h1>🐣 마이페이지 🐣</h1>
    <div class="group">
        <figure>
            <div class="char">{{char}}</div>
        </figure>
        <div class="grid-container">
            <div class="grid-item">이름 : {{name}}
            </div>
            <div class="grid-item">아이디 : {{id}}
            </div>
            <div class="grid-item">비밀번호 : {{pw}}
            </div>
            <div class="grid-item">마일리지: 0
            </div>
        </div>
    </div>

    <a href="#" class="myButton">저장된 아이디 보기</a>
    <a href="#" class="myButton">캐릭터 상점</a>
</body>
<script src="{{ url_for('static', filename='mypage.js') }}"></script>

</html>