<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='mypages.css') }}" rel="stylesheet">
    <title>삐삐는 아이디</title>
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav-toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
            <a href="/" class="nav-logo">
                <div>🐣 삐삐는 아이디 🐣</div>
            </a>
            <div class="nav-menu">
                <ul class="nav-list" id="nav-list">
                    <li class="nav-item">
                        <a href="/login" class="myButton">login</a></li>
                    <li class="nav-item">
                        <a href="/mypage" class="myButton">mypage</a></li>
                    <li class="nav-item">
                        <a href="/choi" class="myButton">랜덤 아이디 생성</a></li>
                    <li class="nav-item">
                        <a href="/idmean" class="myButton">의미확인</a>
                        <li class="nav-item">
                            <a href="/makeid" class="myButton">아이디 만들기</a></li>
                        <li class="nav-item">
                            <a href="/game" class="myButton">game</a></li>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="home">
        {%with messages = get_flashed_messages()%} {%if messages %}
        <script type="text/javascript">
            alert("{{messages[-1]}}");
        </script>
        {%endif%} {%endwith%}
        <h1>🐣 마이페이지 🐣</h1>
        <div class="group">
            <div class="back">
                <div class="char">{{char}}</div>
            </div>
            <div class="grid-container">
                <div class="grid-item">이름 : {{name}}
                </div>
                <div class="grid-item">아이디 : {{id}}
                </div>
                <div class="grid-item">비밀번호 : {{pw}}
                </div>
                <div class="grid-item">마일리지: 0
                </div>
            </div>
        </div>
        <div class="btn">
            <a href="/saveidview" class="myButton">저장된 아이디 보기</a>
            <a href="#" class="myButton">캐릭터 상점</a>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='mypage.js') }}"></script>

</html>