<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='randId.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>삐삐는 아이디</title>
</head>
<body>
    <h1>🐣 랜덤 아이디 생성 🐣</h1>
        <form action="http://127.0.0.1:5000/randIdres" method="post">
            <div class="selc">
                <input type="text" placeholder="영문 및 한글 이름 입력" id="id" name="id[]">
            </div>
            <div class="button">
                <!-- <a href="/randIdres" class="myButton" type="submit">랜덤 아이디 생성</a> -->
                <button type="submit" class="myButton" id="randIdres">랜덤 아이디 생성</button>
            </div>
        </form>
</body>
</html>