<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='saveidview.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>저장된아이디보기</title>
</head>

<body>
    <h1>저장된 아이디</h1>
    <main>
        <div class="id">
            <ul>
                {% for d1 in char %}
                <li> {{ d1 }}</li>
                <hr> {% endfor %}
            </ul>
        </div>
        <div class="mean">
            <ul>
                {% for d2 in char2 %}
                <li> {{ d2 }}</li>
                <hr> {% endfor %}
            </ul>
        </div>
    </main>
    <div class="button">
        <a href="/loginindex" class="myButton">메인페이지</a>
        <a href="/mypage" class="myButton">마이페이지</a>
    </div>
</body>

</html>