<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='signup.js') }}" ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>REGISTER</title>
</head>
<body>
<form method="POST">
  {%with messages = get_flashed_messages()%}
  {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
            <h1>🐣 회원가입 🐣</h1>
            <div id="authForm">
                <p>
                    <label for="regi_id">아이디&nbsp&nbsp&nbsp</label>
                    <input type="text " id="regi_id" name="regi_id" placeholder="아이디를 입력해주세요" style="border:0 solid black;">
                </p>
            
                <p>
                    <label for="regi_pw">비밀번호</label>
                    <input type="password" id="regi_pw" name="regi_pw" placeholder="비밀번호를 입력해주세요" style="border:0 solid black;">
                </p>
                <p>
                    <label for="regi_name">이름</label>
                    <input type="text" id="regi_name" name="regi_name" placeholder="이름을 입력해주세요" style="border:0 solid black;">
                </p>
                
                <div class="checkbox-block">
                  <h2>Q1 . 좋아하는 아이디 스타일은 ?</h2>
                    <!--checkbox 1-->
                    <input class="checkbox-effect checkbox-effect-1" id="get-up-1" type="checkbox" value="get-up-1" name="chked" onclick='checkOnlyOne(this)'/>
                    <label for="get-up-1">&nbsp;귀여운 아이디&nbsp;&nbsp;&nbsp;</label>
                    <br>
                    
                    <!--checkbox 2-->
                    <input class="checkbox-effect checkbox-effect-1" id="make-bed-1" type="checkbox" value="make-bed-1" name="chked" onclick='checkOnlyOne(this)'/>
                    <label for="make-bed-1">&nbsp;심플한 아이디&nbsp;&nbsp;&nbsp;</label>
                    <br>
                    
                    <!--checkbox 3-->
                    <input class="checkbox-effect checkbox-effect-1" id="clean-teeth-1" type="checkbox" value="clean-teeth-1" name="chked" onclick='checkOnlyOne(this)'/>
                    <label for="clean-teeth-1">의미있는 아이디&nbsp;&nbsp;</label>
                    <br>
                    
                    <!--checkbox 4-->
                    <input class="checkbox-effect checkbox-effect-1" id="dress-up-1" type="checkbox" value="dress-up-1" name="chked" onclick='checkOnlyOne(this)'/>
                    <label for="dress-up-1">&nbsp;독특한 아이디&nbsp;&nbsp;&nbsp; </label>
                    <br>

                    <!--checkbox 5-->
                    <input class="checkbox-effect checkbox-effect-1" id="dress-up-1" type="checkbox" value="dress-up-1" name="chked" onclick='checkOnlyOne(this)'/>
                    <label for="dress-up-1">외우기 쉬운 아이디</label>
                    <br>
                    <br>
                </div>
                <br>
                <input type="submit" name="submit" value="확인" style="WIDTH: 183pt" style="border:0 solid black;" style="margin: 0 auto"/>
            </div>  
</form>
</div>
</body>
</html>
